[submodule "benchmark/rodi"]
	path = benchmark/rodi
	url = git@github.com:giuseppefutia/rodi.git
[submodule "data/evaluation/jws-knowledge-graphs-2015"]
	path = data/evaluation/jws-knowledge-graphs-2015
	url = https://github.com/giuseppefutia/jws-knowledge-graphs-2015
[submodule "semantic_modeling/lib/jarql"]
	path = semantic_modeling/lib/jarql
	url = git@github.com:giuseppefutia/jarql.git
